<%= simple_form_for([:user, @professional_profile_edit], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :professional %>
    <%= f.input :experience_start_at %>
    <%= f.input :company_name %>
    <%= f.input :location %>
    <%= f.input :about %>
    <%= f.input :company_profile %>
    <%= f.input :education %>
    <%= f.input :experience %>
    <%= f.input :clients %>
    <%= f.input :consult_rate %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>