<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_professional_profile_edits_path, text: 'Professional Profile Edit') %>
    <%= breadcrumb_item(text: 'Professional Profile Edit') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Professional Profile Edit' %>
  <% if can? :update, @professional_profile_edit %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_professional_profile_edit_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @professional_profile_edit.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Experience start at</strong>
      <span class="col-md-9"><%= @professional_profile_edit.experience_start_at %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Company name</strong>
      <span class="col-md-9"><%= @professional_profile_edit.company_name %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Location</strong>
      <span class="col-md-9"><%= @professional_profile_edit.location %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">About</strong>
      <span class="col-md-9"><%= @professional_profile_edit.about %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Company profile</strong>
      <span class="col-md-9"><%= @professional_profile_edit.company_profile %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Education</strong>
      <span class="col-md-9"><%= @professional_profile_edit.education %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Experience</strong>
      <span class="col-md-9"><%= @professional_profile_edit.experience %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Clients</strong>
      <span class="col-md-9"><%= @professional_profile_edit.clients %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Consult rate</strong>
      <span class="col-md-9"><%= @professional_profile_edit.consult_rate %></span>
    </p>
  <% end -%>
<% end -%>