<%= simple_form_for([:user, @quote], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user_process %>
    <%= f.association :scope %>
    <%= f.association :cart %>
    <%= f.input :status %>
    <%= f.input :professional_fee %>
    <%= f.input :government_fee %>
    <%= f.input :oope %>
    <%= f.input :service_tax %>
    <%= f.input :tax %>
    <%= f.input :validity_end_date %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>