<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Quotes') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Quotes
  <% if can? :create, Quote %>
    <span class="pull-right">
      <%= link_to 'New Quote', new_user_quote_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>User process</th>
            <th>Scope</th>
            <th>Cart</th>
            <th>Status</th>
            <th>Professional fee</th>
            <th>Government fee</th>
            <th>Oope</th>
            <th>Service tax</th>
            <th>Tax</th>
            <th>Validity end date</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @quotes.each do |quote| %>
            <tr>
              <td><%= link_to quote.user_process.try(:name), [:user, quote], class: 'row-link' %></td>
              <td><%= quote.scope.try(:name) %></td>
              <td><%= quote.cart.try(:name) %></td>
              <td><%= quote.status %></td>
              <td><%= quote.professional_fee %></td>
              <td><%= quote.government_fee %></td>
              <td><%= quote.oope %></td>
              <td><%= quote.service_tax %></td>
              <td><%= quote.tax %></td>
              <td><%= quote.validity_end_date %></td>
              <td>
                <% if can? :update, Quote %>
                  <%= link_to 'Edit', edit_user_quote_path(quote) %>
                <% end %>
                <% if false and can? :destroy, Quote %> |
                  <%= link_to 'Destroy', [:user, quote], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>