<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_quotes_path, text: 'Quote') %>
    <%= breadcrumb_item(text: 'Quote') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Quote' %>
  <% if can? :update, @quote %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_quote_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @quote.user_process.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Scope</strong>
      <span class="col-md-9"><%= @quote.scope.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Cart</strong>
      <span class="col-md-9"><%= @quote.cart.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @quote.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional fee</strong>
      <span class="col-md-9"><%= @quote.professional_fee %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Government fee</strong>
      <span class="col-md-9"><%= @quote.government_fee %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Oope</strong>
      <span class="col-md-9"><%= @quote.oope %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Service tax</strong>
      <span class="col-md-9"><%= @quote.service_tax %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Tax</strong>
      <span class="col-md-9"><%= @quote.tax %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Validity end date</strong>
      <span class="col-md-9"><%= @quote.validity_end_date %></span>
    </p>
  <% end -%>
<% end -%>