<%= simple_form_for([:admin, @customer_payment], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_token %>
    <%= f.association :user %>
    <%= f.association :professional %>
    <%= f.input :amount %>
    <%= f.input :paid_amount %>
    <%= f.input :status %>
    <%= f.association :user_process %>
    <%= f.association :scope %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>