<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_customer_payments_path, text: 'Customer Payments') %>
    <%= breadcrumb_item(text: 'Customer Payment') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Customer Payment' %>
  <% if can? :update, @customer_payment %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_customer_payment_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Id token</strong>
      <span class="col-md-9"><%= @customer_payment.id_token %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User</strong>
      <span class="col-md-9"><%= @customer_payment.user.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @customer_payment.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Amount</strong>
      <span class="col-md-9"><%= @customer_payment.amount %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Paid amount</strong>
      <span class="col-md-9"><%= @customer_payment.paid_amount %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Payable</strong>
      <span class="col-md-9"><%= @customer_payment.payable.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @customer_payment.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @customer_payment.user_process.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Scope</strong>
      <span class="col-md-9"><%= @customer_payment.scope.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>