<%= simple_form_for([:user, @professional], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_token %>
    <%= f.input :experience_start_at %>
    <%= f.input :source %>
    <%= f.input :company_name %>
    <%= f.input :location %>
    <%= f.input :photo %>
    <%= f.input :about %>
    <%= f.input :education %>
    <%= f.input :experience %>
    <%= f.input :clients %>
    <%= f.input :aggregate_rating %>
    <%= f.input :status %>
    <%= f.input :professional_type %>
    <%= f.input :other_details %>
    <%= f.input :consult_rate %>
    <%= f.input :platform_fee %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>