<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_professionals_path, text: 'Professional') %>
    <%= breadcrumb_item(text: 'Professional') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Professional' %>
  <% if can? :update, @professional %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_professional_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Id token</strong>
      <span class="col-md-9"><%= @professional.id_token %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User</strong>
      <span class="col-md-9"><%= @professional.user.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Experience start at</strong>
      <span class="col-md-9"><%= @professional.experience_start_at %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Source</strong>
      <span class="col-md-9"><%= @professional.source %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Company name</strong>
      <span class="col-md-9"><%= @professional.company_name %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Location</strong>
      <span class="col-md-9"><%= @professional.location %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Photo</strong>
      <span class="col-md-9"><%= @professional.photo %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">About</strong>
      <span class="col-md-9"><%= @professional.about %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Education</strong>
      <span class="col-md-9"><%= @professional.education %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Experience</strong>
      <span class="col-md-9"><%= @professional.experience %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Clients</strong>
      <span class="col-md-9"><%= @professional.clients %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Aggregate rating</strong>
      <span class="col-md-9"><%= @professional.aggregate_rating %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @professional.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional type</strong>
      <span class="col-md-9"><%= @professional.professional_type %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Other details</strong>
      <span class="col-md-9"><%= @professional.other_details %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Consult rate</strong>
      <span class="col-md-9"><%= @professional.consult_rate %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Platform fee</strong>
      <span class="col-md-9"><%= @professional.platform_fee %></span>
    </p>
  <% end -%>
<% end -%>