<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Services') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Services
  <% if can? :create, Service %>
    <span class="pull-right">
      <%= link_to 'New Service', new_admin_service_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @services.each do |service| %>
            <tr>
              <td><%= link_to service.name, [:admin, service], class: 'row-link' %></td>
              <td>
                <% if can? :update, service %>
                  <%= link_to 'Edit', edit_admin_service_path(service) %>
                <% end %>
                <% if false and can? :destroy, service %> |
                  <%= link_to 'Destroy', [:admin, service], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>