<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_services_path, text: 'Services') %>
    <%= breadcrumb_item(text: @service.name) %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= @service.name %>
  <% if can? :update, @service %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_service_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Name</strong>
      <span class="col-md-9"><%= @service.name %></span>
    </p>
  <% end -%>
<% end -%>