<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Payment Requests') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Payment Requests
  <% if can? :create, PaymentRequest %>
    <span class="pull-right">
      <%= link_to 'New Payment request', new_user_payment_request_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Professional</th>
            <th>User process</th>
            <th>Scope</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Rejection reason</th>
            <th>Approver</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @payment_requests.each do |payment_request| %>
            <tr>
              <td><%= link_to payment_request.professional.try(:name), [:user, payment_request], class: 'row-link' %></td>
              <td><%= payment_request.user_process.try(:name) %></td>
              <td><%= payment_request.scope.try(:name) %></td>
              <td><%= payment_request.amount %></td>
              <td><%= payment_request.status %></td>
              <td><%= payment_request.rejection_reason %></td>
              <td><%= payment_request.approver_id %></td>
              <td>
                <% if can? :update, PaymentRequest %>
                  <%= link_to 'Edit', edit_user_payment_request_path(payment_request) %>
                <% end %>
                <% if false and can? :destroy, PaymentRequest %> |
                  <%= link_to 'Destroy', [:user, payment_request], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>