<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Locations') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Locations
  <% if can? :create, Location %>
    <span class="pull-right">
      <%= link_to 'New Location', new_admin_location_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= link_to location.name, [:admin, location], class: 'row-link' %></td>
              <td>
                <% if can? :update, location %>
                  <%= link_to 'Edit', edit_admin_location_path(location) %>
                <% end %>
                <% if false and can? :destroy, location %> |
                  <%= link_to 'Destroy', [:admin, location], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>