<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_locations_path, text: 'Locations') %>
    <%= breadcrumb_item(text: @location.name) %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= @location.name %>
  <% if can? :update, @location %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_location_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Name</strong>
      <span class="col-md-9"><%= @location.name %></span>
    </p>
  <% end -%>
<% end -%>