<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_service_flow_user_answer_choices_path, text: 'Service Flow User Answer Choices') %>
    <%= breadcrumb_item(link: user_service_flow_user_answer_choice_path(@service_flow_user_answer_choice), text: 'Service Flow User Answer Choice') %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Service Flow User Answer Choice') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



