<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Service Flow User Answer Choices') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Service Flow User Answer Choices
  <% if can? :create, ::ServiceFlow::UserAnswerChoice %>
    <span class="pull-right">
      <%= link_to 'New User answer choice', new_user_service_flow_user_answer_choice_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>User</th>
            <th>Answer choice</th>
            <th>User process</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @service_flow_user_answer_choices.each do |service_flow_user_answer_choice| %>
            <tr>
              <td><%= link_to service_flow_user_answer_choice.user.try(:name), [:user, service_flow_user_answer_choice], class: 'row-link' %></td>
              <td><%= service_flow_user_answer_choice.answer_choice.try(:name) %></td>
              <td><%= service_flow_user_answer_choice.user_process.try(:name) %></td>
              <td>
                <% if can? :update, ::ServiceFlow::UserAnswerChoice %>
                  <%= link_to 'Edit', edit_user_service_flow_user_answer_choice_path(service_flow_user_answer_choice) %>
                <% end %>
                <% if false and can? :destroy, ::ServiceFlow::UserAnswerChoice %> |
                  <%= link_to 'Destroy', [:user, service_flow_user_answer_choice], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>