<%= simple_form_for([:admin, @scope], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :user_process %>
    <%= f.association :professional %>
    <%= f.input :inclusions %>
    <%= f.input :exclusions %>
    <%= f.input :documents %>
    <%= f.input :deliverables %>
    <%= f.input :status %>
    <%= f.input :started_at %>
    <%= f.input :closed_at %>
    <%= f.input :expected_duration %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>