<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Scopes') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Scopes
  <% if can? :create, Scope %>
    <span class="pull-right">
      <%= link_to 'New Scope', new_admin_scope_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Name</th>
            <th>User process</th>
            <th>Professional</th>
            <th>Inclusions</th>
            <th>Exclusions</th>
            <th>Documents</th>
            <th>Deliverables</th>
            <th>Status</th>
            <th>Started at</th>
            <th>Closed at</th>
            <th>Expected duration</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @scopes.each do |scope| %>
            <tr>
              <td><%= link_to scope.name, [:admin, scope], class: 'row-link' %></td>
              <td><%= scope.user_process.try(:name) %></td>
              <td><%= scope.professional.try(:name) %></td>
              <td><%= scope.inclusions %></td>
              <td><%= scope.exclusions %></td>
              <td><%= scope.documents %></td>
              <td><%= scope.deliverables %></td>
              <td><%= scope.status %></td>
              <td><%= scope.started_at %></td>
              <td><%= scope.closed_at %></td>
              <td><%= scope.expected_duration %></td>
              <td>
                <% if can? :update, scope %>
                  <%= link_to 'Edit', edit_admin_scope_path(scope) %>
                <% end %>
                <% if false and can? :destroy, scope %> |
                  <%= link_to 'Destroy', [:admin, scope], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>