<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_scopes_path, text: 'Scopes') %>
    <%= breadcrumb_item(text: @scope.name) %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= @scope.name %>
  <% if can? :update, @scope %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_scope_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Name</strong>
      <span class="col-md-9"><%= @scope.name %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @scope.user_process.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @scope.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Inclusions</strong>
      <span class="col-md-9"><%= @scope.inclusions %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Exclusions</strong>
      <span class="col-md-9"><%= @scope.exclusions %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Documents</strong>
      <span class="col-md-9"><%= @scope.documents %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Deliverables</strong>
      <span class="col-md-9"><%= @scope.deliverables %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @scope.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Started at</strong>
      <span class="col-md-9"><%= @scope.started_at %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Closed at</strong>
      <span class="col-md-9"><%= @scope.closed_at %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Expected duration</strong>
      <span class="col-md-9"><%= @scope.expected_duration %></span>
    </p>
  <% end -%>
<% end -%>