<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Scenarios') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Scenarios
  <% if can? :create, Scenario %>
    <span class="pull-right">
      <%= link_to 'New Scenario', new_user_scenario_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @scenarios.each do |scenario| %>
            <tr>
              <td>
                <% if can? :update, Scenario %>
                  <%= link_to 'Edit', edit_user_scenario_path(scenario) %>
                <% end %>
                <% if false and can? :destroy, Scenario %> |
                  <%= link_to 'Destroy', [:user, scenario], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>