<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Global Settings') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Global Settings
  <% if can? :create, GlobalSetting %>
    <span class="pull-right">
      <%= link_to 'New Global setting', new_admin_global_setting_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Settings</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @global_settings.each do |global_setting| %>
            <tr>
              <td><%= link_to global_setting.settings, [:admin, global_setting], class: 'row-link' %></td>
              <td>
                <% if can? :update, global_setting %>
                  <%= link_to 'Edit', edit_admin_global_setting_path(global_setting) %>
                <% end %>
                <% if false and can? :destroy, global_setting %> |
                  <%= link_to 'Destroy', [:admin, global_setting], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>