<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_answer_requests_path, text: 'Counsel Answer Requests') %>
    <%= breadcrumb_item(text: 'Counsel Answer Request') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Counsel Answer Request' %>
  <% if can? :update, @counsel_answer_request %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_counsel_answer_request_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Question</strong>
      <span class="col-md-9"><%= @counsel_answer_request.question.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Requester</strong>
      <span class="col-md-9"><%= @counsel_answer_request.requester.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Answerer</strong>
      <span class="col-md-9"><%= @counsel_answer_request.answerer.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>