<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Counsel Answers') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Counsel Answers
  <% if can? :create, ::Counsel::Answer %>
    <span class="pull-right">
      <%= link_to 'New Answer', new_admin_counsel_answer_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Answerer</th>
            <th>Accepted</th>
            <th>Deleted</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @counsel_answers.each do |counsel_answer| %>
            <tr>
              <td><%= link_to counsel_answer.question.try(:name), [:admin, counsel_answer], class: 'row-link' %></td>
              <td><%= counsel_answer.answer %></td>
              <td><%= counsel_answer.answerer.try(:name) %></td>
              <td><%= counsel_answer.accepted %></td>
              <td><%= counsel_answer.deleted %></td>
              <td>
                <% if can? :update, counsel_answer %>
                  <%= link_to 'Edit', edit_admin_counsel_answer_path(counsel_answer) %>
                <% end %>
                <% if false and can? :destroy, counsel_answer %> |
                  <%= link_to 'Destroy', [:admin, counsel_answer], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>