<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_answers_path, text: 'Counsel Answers') %>
    <%= breadcrumb_item(text: 'Counsel Answer') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Counsel Answer' %>
  <% if can? :update, @counsel_answer %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_counsel_answer_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Question</strong>
      <span class="col-md-9"><%= @counsel_answer.question.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Answer</strong>
      <span class="col-md-9"><%= @counsel_answer.answer %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Answerer</strong>
      <span class="col-md-9"><%= @counsel_answer.answerer.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Accepted</strong>
      <span class="col-md-9"><%= @counsel_answer.accepted %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Deleted</strong>
      <span class="col-md-9"><%= @counsel_answer.deleted %></span>
    </p>
  <% end -%>
<% end -%>