<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_payment_requests_path, text: 'Payment Requests') %>
    <%= breadcrumb_item(text: 'Payment Request') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Payment Request' %>
  <% if can? :update, @payment_request %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_payment_request_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @payment_request.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @payment_request.user_process.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Scope</strong>
      <span class="col-md-9"><%= @payment_request.scope.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Amount</strong>
      <span class="col-md-9"><%= @payment_request.amount %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @payment_request.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Rejection reason</strong>
      <span class="col-md-9"><%= @payment_request.rejection_reason %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Approver</strong>
      <span class="col-md-9"><%= @payment_request.approver_id %></span>
    </p>
  <% end -%>
<% end -%>