<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Sub Services') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Sub Services
  <% if can? :create, SubService %>
    <span class="pull-right">
      <%= link_to 'New Sub service', new_admin_sub_service_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Name</th>
            <th>Service</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @sub_services.each do |sub_service| %>
            <tr>
              <td><%= link_to sub_service.name, [:admin, sub_service], class: 'row-link' %></td>
              <td><%= sub_service.service.try(:name) %></td>
              <td>
                <% if can? :update, sub_service %>
                  <%= link_to 'Edit', edit_admin_sub_service_path(sub_service) %>
                <% end %>
                <% if false and can? :destroy, sub_service %> |
                  <%= link_to 'Destroy', [:admin, sub_service], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>