<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_sub_services_path, text: 'Sub Services') %>
    <%= breadcrumb_item(text: @sub_service.name) %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= @sub_service.name %>
  <% if can? :update, @sub_service %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_sub_service_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Name</strong>
      <span class="col-md-9"><%= @sub_service.name %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Service</strong>
      <span class="col-md-9"><%= @sub_service.service.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>