<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Counsel Votes') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Counsel Votes
  <% if can? :create, ::Counsel::Vote %>
    <span class="pull-right">
      <%= link_to 'New Vote', new_admin_counsel_vote_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Voter</th>
            <th>Votable</th>
            <th>Vote type</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @counsel_votes.each do |counsel_vote| %>
            <tr>
              <td><%= link_to counsel_vote.voter.try(:name), [:admin, counsel_vote], class: 'row-link' %></td>
              <td><%= counsel_vote.votable.try(:name) %></td>
              <td><%= counsel_vote.vote_type %></td>
              <td>
                <% if can? :update, counsel_vote %>
                  <%= link_to 'Edit', edit_admin_counsel_vote_path(counsel_vote) %>
                <% end %>
                <% if false and can? :destroy, counsel_vote %> |
                  <%= link_to 'Destroy', [:admin, counsel_vote], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>