<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_votes_path, text: 'Counsel Votes') %>
    <%= breadcrumb_item(text: 'Counsel Vote') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Counsel Vote' %>
  <% if can? :update, @counsel_vote %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_counsel_vote_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Voter</strong>
      <span class="col-md-9"><%= @counsel_vote.voter.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Votable</strong>
      <span class="col-md-9"><%= @counsel_vote.votable.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Vote type</strong>
      <span class="col-md-9"><%= @counsel_vote.vote_type %></span>
    </p>
  <% end -%>
<% end -%>