<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Reviews') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Reviews
  <% if can? :create, Review %>
    <span class="pull-right">
      <%= link_to 'New Review', new_admin_review_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>User</th>
            <th>Professional</th>
            <th>Rating</th>
            <th>Review</th>
            <th>User process</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= link_to review.user.try(:name), [:admin, review], class: 'row-link' %></td>
              <td><%= review.professional.try(:name) %></td>
              <td><%= review.rating %></td>
              <td><%= review.review %></td>
              <td><%= review.user_process.try(:name) %></td>
              <td>
                <% if can? :update, review %>
                  <%= link_to 'Edit', edit_admin_review_path(review) %>
                <% end %>
                <% if false and can? :destroy, review %> |
                  <%= link_to 'Destroy', [:admin, review], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>