<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_reviews_path, text: 'Reviews') %>
    <%= breadcrumb_item(text: 'Review') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Review' %>
  <% if can? :update, @review %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_review_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">User</strong>
      <span class="col-md-9"><%= @review.user.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @review.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Rating</strong>
      <span class="col-md-9"><%= @review.rating %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Review</strong>
      <span class="col-md-9"><%= @review.review %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @review.user_process.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>