<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Carts') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Carts
  <% if can? :create, Cart %>
    <span class="pull-right">
      <%= link_to 'New Cart', new_admin_cart_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Id token</th>
            <th>User</th>
            <th>User process</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @carts.each do |cart| %>
            <tr>
              <td><%= link_to cart.id_token, [:admin, cart], class: 'row-link' %></td>
              <td><%= cart.user.try(:name) %></td>
              <td><%= cart.user_process.try(:name) %></td>
              <td>
                <% if can? :update, cart %>
                  <%= link_to 'Edit', edit_admin_cart_path(cart) %>
                <% end %>
                <% if false and can? :destroy, cart %> |
                  <%= link_to 'Destroy', [:admin, cart], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>