<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_carts_path, text: 'Carts') %>
    <%= breadcrumb_item(text: 'Cart') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Cart' %>
  <% if can? :update, @cart %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_cart_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Id token</strong>
      <span class="col-md-9"><%= @cart.id_token %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User</strong>
      <span class="col-md-9"><%= @cart.user.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @cart.user_process.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>