<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'User Processes') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing User Processes
  <% if can? :create, UserProcess %>
    <span class="pull-right">
      <%= link_to 'New User process', new_admin_user_process_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Id token</th>
            <th>User</th>
            <th>Professional</th>
            <th>Service</th>
            <th>Sub service</th>
            <th>Scenario</th>
            <th>Status</th>
            <th>External link</th>
            <th>Started at</th>
            <th>Closed at</th>
            <th>Expected duration</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @user_processes.each do |user_process| %>
            <tr>
              <td><%= link_to user_process.id_token, [:admin, user_process], class: 'row-link' %></td>
              <td><%= user_process.user.try(:name) %></td>
              <td><%= user_process.professional.try(:name) %></td>
              <td><%= user_process.service.try(:name) %></td>
              <td><%= user_process.sub_service.try(:name) %></td>
              <td><%= user_process.scenario.try(:name) %></td>
              <td><%= user_process.status %></td>
              <td><%= user_process.external_link %></td>
              <td><%= user_process.started_at %></td>
              <td><%= user_process.closed_at %></td>
              <td><%= user_process.expected_duration %></td>
              <td>
                <% if can? :update, user_process %>
                  <%= link_to 'Edit', edit_admin_user_process_path(user_process) %>
                <% end %>
                <% if false and can? :destroy, user_process %> |
                  <%= link_to 'Destroy', [:admin, user_process], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>