<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_user_processes_path, text: 'User Processes') %>
    <%= breadcrumb_item(text: 'User Process') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'User Process' %>
  <% if can? :update, @user_process %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_user_process_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Id token</strong>
      <span class="col-md-9"><%= @user_process.id_token %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User</strong>
      <span class="col-md-9"><%= @user_process.user.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @user_process.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Service</strong>
      <span class="col-md-9"><%= @user_process.service.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Sub service</strong>
      <span class="col-md-9"><%= @user_process.sub_service.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Scenario</strong>
      <span class="col-md-9"><%= @user_process.scenario.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @user_process.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">External link</strong>
      <span class="col-md-9"><%= @user_process.external_link %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Started at</strong>
      <span class="col-md-9"><%= @user_process.started_at %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Closed at</strong>
      <span class="col-md-9"><%= @user_process.closed_at %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Expected duration</strong>
      <span class="col-md-9"><%= @user_process.expected_duration %></span>
    </p>
  <% end -%>
<% end -%>