<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_professional_fees_path, text: 'Professional Fee') %>
    <%= breadcrumb_item(text: 'Professional Fee') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Professional Fee' %>
  <% if can? :update, @professional_fee %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_professional_fee_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @professional_fee.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Scenario</strong>
      <span class="col-md-9"><%= @professional_fee.scenario.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Location</strong>
      <span class="col-md-9"><%= @professional_fee.location.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Status</strong>
      <span class="col-md-9"><%= @professional_fee.status %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional fee</strong>
      <span class="col-md-9"><%= @professional_fee.professional_fee %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Government fee</strong>
      <span class="col-md-9"><%= @professional_fee.government_fee %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Oope</strong>
      <span class="col-md-9"><%= @professional_fee.oope %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Service tax</strong>
      <span class="col-md-9"><%= @professional_fee.service_tax %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Tax</strong>
      <span class="col-md-9"><%= @professional_fee.tax %></span>
    </p>
  <% end -%>
<% end -%>