<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Customer Payments') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Customer Payments
  <% if can? :create, CustomerPayment %>
    <span class="pull-right">
      <%= link_to 'New Customer payment', new_user_customer_payment_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Id token</th>
            <th>User</th>
            <th>Professional</th>
            <th>Amount</th>
            <th>Paid amount</th>
            <th>Payable</th>
            <th>Status</th>
            <th>User process</th>
            <th>Scope</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @customer_payments.each do |customer_payment| %>
            <tr>
              <td><%= link_to customer_payment.id_token, [:user, customer_payment], class: 'row-link' %></td>
              <td><%= customer_payment.user.try(:name) %></td>
              <td><%= customer_payment.professional.try(:name) %></td>
              <td><%= customer_payment.amount %></td>
              <td><%= customer_payment.paid_amount %></td>
              <td><%= customer_payment.payable.try(:name) %></td>
              <td><%= customer_payment.status %></td>
              <td><%= customer_payment.user_process.try(:name) %></td>
              <td><%= customer_payment.scope.try(:name) %></td>
              <td>
                <% if can? :update, CustomerPayment %>
                  <%= link_to 'Edit', edit_user_customer_payment_path(customer_payment) %>
                <% end %>
                <% if false and can? :destroy, CustomerPayment %> |
                  <%= link_to 'Destroy', [:user, customer_payment], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>