<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Professionals') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Professionals
  <% if can? :create, Professional %>
    <span class="pull-right">
      <%= link_to 'New Professional', new_admin_professional_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Id token</th>
            <th>User</th>
            <th>Experience start at</th>
            <th>Source</th>
            <th>Company name</th>
            <th>Location</th>
            <th>Photo</th>
            <th>About</th>
            <th>Education</th>
            <th>Experience</th>
            <th>Clients</th>
            <th>Aggregate rating</th>
            <th>Status</th>
            <th>Professional type</th>
            <th>Other details</th>
            <th>Consult rate</th>
            <th>Platform fee</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @professionals.each do |professional| %>
            <tr>
              <td><%= link_to professional.id_token, [:admin, professional], class: 'row-link' %></td>
              <td><%= professional.user.try(:name) %></td>
              <td><%= professional.experience_start_at %></td>
              <td><%= professional.source %></td>
              <td><%= professional.company_name %></td>
              <td><%= professional.location %></td>
              <td><%= professional.photo %></td>
              <td><%= professional.about %></td>
              <td><%= professional.education %></td>
              <td><%= professional.experience %></td>
              <td><%= professional.clients %></td>
              <td><%= professional.aggregate_rating %></td>
              <td><%= professional.status %></td>
              <td><%= professional.professional_type %></td>
              <td><%= professional.other_details %></td>
              <td><%= professional.consult_rate %></td>
              <td><%= professional.platform_fee %></td>
              <td>
                <% if can? :update, professional %>
                  <%= link_to 'Edit', edit_admin_professional_path(professional) %>
                <% end %>
                <% if false and can? :destroy, professional %> |
                  <%= link_to 'Destroy', [:admin, professional], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>