<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Service Flow Answer Choices') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Service Flow Answer Choices
  <% if can? :create, ::ServiceFlow::AnswerChoice %>
    <span class="pull-right">
      <%= link_to 'New Answer choice', new_user_service_flow_answer_choice_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Position</th>
            <th>Next questions</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @service_flow_answer_choices.each do |service_flow_answer_choice| %>
            <tr>
              <td><%= link_to service_flow_answer_choice.question.try(:name), [:user, service_flow_answer_choice], class: 'row-link' %></td>
              <td><%= service_flow_answer_choice.answer %></td>
              <td><%= service_flow_answer_choice.position %></td>
              <td><%= service_flow_answer_choice.next_questions %></td>
              <td>
                <% if can? :update, ::ServiceFlow::AnswerChoice %>
                  <%= link_to 'Edit', edit_user_service_flow_answer_choice_path(service_flow_answer_choice) %>
                <% end %>
                <% if false and can? :destroy, ::ServiceFlow::AnswerChoice %> |
                  <%= link_to 'Destroy', [:user, service_flow_answer_choice], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>