<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_service_flow_answer_choices_path, text: 'Service Flow Answer Choice') %>
    <%= breadcrumb_item(text: 'Service Flow Answer Choice') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Service Flow Answer Choice' %>
  <% if can? :update, @service_flow_answer_choice %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_service_flow_answer_choice_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Question</strong>
      <span class="col-md-9"><%= @service_flow_answer_choice.question.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Answer</strong>
      <span class="col-md-9"><%= @service_flow_answer_choice.answer %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Position</strong>
      <span class="col-md-9"><%= @service_flow_answer_choice.position %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Next questions</strong>
      <span class="col-md-9"><%= @service_flow_answer_choice.next_questions %></span>
    </p>
  <% end -%>
<% end -%>