<%% content_for :breadcrumb do %>
  <%%= breadcrumb_bar_new do %>
    <%%= breadcrumb_item(link: admin_<%= index_helper %>_path, text: '<%= plural_table_name.titleize %>') %>
    <%%= breadcrumb_item(link: admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), text: <%= object_name_or_human_name %>) %>
    <%%= breadcrumb_item(text: 'Edit') %>
  <%% end %>
<%% end %>

<%%= new_page_heading('Editing <%= singular_table_name.titleize %>') %>
<%%= full_width_box_wrapper do %>
  <%%= box_content_only do %>
    <%%= render 'form' %>
  <%% end %>
<%% end %>



