<%% content_for :breadcrumb do %>
  <%%= breadcrumb_bar_new do %>
    <%%= breadcrumb_item(text: '<%= plural_table_name.titleize %>') %>
  <%% end %>
<%% end %>

<%%= new_page_heading do %>
  Listing <%= plural_table_name.titleize %>
  <%% if can? :create, <%= corrected_class_name %> %>
    <span class="pull-right">
      <%%= link_to 'New <%= human_name %>', new_admin_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
    </span>
  <%% end %>
<%% end %>

<%%= full_width_box_wrapper do %>
  <%%= box_content_only do %>
    <div class="table-responsive">
      <%%= page_datatable do %>
        <thead>
          <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
            <th><%= attribute.human_name %></th>
<% end -%>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
            <tr>
<% attributes.reject(&:password_digest?).each_with_index do |attribute, index| -%>
<% if index == 0 -%>
              <td><%%= link_to <%= singular_table_name %>.<%= attribute.name %><%= ".try(:name)" if attribute.reference? %>, [:admin, <%= singular_table_name %>], class: 'row-link' %></td>
<% else -%>
              <td><%%= <%= singular_table_name %>.<%= attribute.name %><%= ".try(:name)" if attribute.reference? %> %></td>
<% end -%>
<% end -%>
              <td>
                <%% if can? :update, <%= singular_table_name %> %>
                  <%%= link_to 'Edit', edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
                <%% end %>
                <%% if false and can? :destroy, <%= singular_table_name %> %> |
                  <%%= link_to 'Destroy', [:admin, <%= singular_table_name %>], method: :delete, data: { confirm: 'Are you sure?' } %>
                <%% end %>
              </td>
            </tr>
          <%% end %>
        </tbody>
      <%% end %>
    </div>
  <%% end %>
<%% end %>

<%% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<%% end %>