<%%= simple_form_for([:user, @<%= singular_table_name %>], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
<%- attributes.each do |attribute| -%><%- if (not attribute.attr_options[:polymorphic]) and (not attribute.name == "user") -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
<%- end -%><%- end -%>
  </div>

  <div class="form-actions text-center">
    <%%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<%% end %>