<%% content_for :breadcrumb do %>
  <%%= breadcrumb_bar_new do %>
    <%%= breadcrumb_item(link: user_<%= index_helper %>_path, text: '<%= plural_table_name.titleize %>') %>
  <%%= breadcrumb_item(text: 'New') %>
  <%% end %>
<%% end %>

<%%= new_page_heading('New <%= singular_table_name.titleize %>') %>
<%%= full_width_box_wrapper do %>
  <%%= box_content_only do %>
    <%%= render 'form' %>
  <%% end %>
<%% end %>


