<%% content_for :breadcrumb do %>
  <%%= breadcrumb_bar_new do %>
    <%%= breadcrumb_item(link: user_<%= index_helper %>_path, text: '<%= singular_table_name.titleize %>') %>
    <%%= breadcrumb_item(text: <%= object_name_or_human_name %>) %>
  <%% end %>
<%% end %>

<%%= new_page_heading do %>
  <%%= <%= object_name_or_human_name %> %>
  <%% if can? :update, @<%= singular_table_name %> %>
    <span class="pull-right">
      <%%= link_to 'Edit', edit_user_<%= singular_table_name %>_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <%% end %>
<%% end %>

<%%= full_width_box_wrapper do %>
  <%%= box_content_only do %>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <p class="row">
      <strong class="col-md-3 text-right"><%= attribute.human_name %></strong>
      <span class="col-md-9"><%%= @<%= singular_table_name %>.<%= attribute.name %><%= ".try(:name)" if attribute.reference? %> %></span>
    </p>
<% end -%>
  <%% end -%>
<%% end -%>