<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_service_flow_user_answer_choices_path, text: 'Service Flow User Answer Choices') %>
    <%= breadcrumb_item(text: 'Service Flow User Answer Choice') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Service Flow User Answer Choice' %>
  <% if can? :update, @service_flow_user_answer_choice %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_service_flow_user_answer_choice_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">User</strong>
      <span class="col-md-9"><%= @service_flow_user_answer_choice.user.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Answer choice</strong>
      <span class="col-md-9"><%= @service_flow_user_answer_choice.answer_choice.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">User process</strong>
      <span class="col-md-9"><%= @service_flow_user_answer_choice.user_process.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>