<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_service_flow_questions_path, text: 'Service Flow Questions') %>
    <%= breadcrumb_item(link: user_service_flow_question_path(@service_flow_question), text: 'Service Flow Question') %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Service Flow Question') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



