<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_service_flow_questions_path, text: 'Service Flow Question') %>
    <%= breadcrumb_item(text: 'Service Flow Question') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Service Flow Question' %>
  <% if can? :update, @service_flow_question %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_service_flow_question_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Question</strong>
      <span class="col-md-9"><%= @service_flow_question.question %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Question type</strong>
      <span class="col-md-9"><%= @service_flow_question.question_type %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Parent</strong>
      <span class="col-md-9"><%= @service_flow_question.parent %></span>
    </p>
  <% end -%>
<% end -%>