<%# highlight_nav_link({url: new_user_session_url}) %>
<%# highlight_nav_link({selector: "#dd-link"}) %>

<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Dashboard') %>
  <% end %>
<% end %>

<%= new_page_heading('Dashboard') %>

<%= full_width_box_wrapper do %>
<% end %>