<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Professional Sub Services') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Professional Sub Services
  <% if can? :create, ProfessionalSubService %>
    <span class="pull-right">
      <%= link_to 'New Professional sub service', new_admin_professional_sub_service_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Professional</th>
            <th>Sub service</th>
            <th>Professional service</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @professional_sub_services.each do |professional_sub_service| %>
            <tr>
              <td><%= link_to professional_sub_service.professional.try(:name), [:admin, professional_sub_service], class: 'row-link' %></td>
              <td><%= professional_sub_service.sub_service.try(:name) %></td>
              <td><%= professional_sub_service.professional_service.try(:name) %></td>
              <td>
                <% if can? :update, professional_sub_service %>
                  <%= link_to 'Edit', edit_admin_professional_sub_service_path(professional_sub_service) %>
                <% end %>
                <% if false and can? :destroy, professional_sub_service %> |
                  <%= link_to 'Destroy', [:admin, professional_sub_service], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>