<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_professional_sub_services_path, text: 'Professional Sub Services') %>
    <%= breadcrumb_item(text: 'Professional Sub Service') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Professional Sub Service' %>
  <% if can? :update, @professional_sub_service %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_professional_sub_service_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @professional_sub_service.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Sub service</strong>
      <span class="col-md-9"><%= @professional_sub_service.sub_service.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Professional service</strong>
      <span class="col-md-9"><%= @professional_sub_service.professional_service.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>