<%= simple_form_for([:admin, @service_flow_answer_choice], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :question %>
    <%= f.input :answer %>
    <%= f.input :position %>
    <%= f.input :next_questions %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>