<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_counsel_answer_requests_path, text: 'Counsel Answer Requests') %>
    <%= breadcrumb_item(link: user_counsel_answer_request_path(@counsel_answer_request), text: 'Counsel Answer Request') %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Counsel Answer Request') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



