<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Counsel Answer Requests') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Counsel Answer Requests
  <% if can? :create, ::Counsel::AnswerRequest %>
    <span class="pull-right">
      <%= link_to 'New Answer request', new_user_counsel_answer_request_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Question</th>
            <th>Requester</th>
            <th>Answerer</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @counsel_answer_requests.each do |counsel_answer_request| %>
            <tr>
              <td><%= link_to counsel_answer_request.question.try(:name), [:user, counsel_answer_request], class: 'row-link' %></td>
              <td><%= counsel_answer_request.requester.try(:name) %></td>
              <td><%= counsel_answer_request.answerer.try(:name) %></td>
              <td>
                <% if can? :update, ::Counsel::AnswerRequest %>
                  <%= link_to 'Edit', edit_user_counsel_answer_request_path(counsel_answer_request) %>
                <% end %>
                <% if false and can? :destroy, ::Counsel::AnswerRequest %> |
                  <%= link_to 'Destroy', [:user, counsel_answer_request], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>