<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_global_settings_path, text: 'Global Setting') %>
    <%= breadcrumb_item(text: 'Global Setting') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Global Setting' %>
  <% if can? :update, @global_setting %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_global_setting_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Settings</strong>
      <span class="col-md-9"><%= @global_setting.settings %></span>
    </p>
  <% end -%>
<% end -%>