<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_categories_path, text: 'Counsel Categories') %>
    <%= breadcrumb_item(link: admin_counsel_category_path(@counsel_category), text: @counsel_category.name) %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Counsel Category') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



