<%= simple_form_for([:admin, @professional_fee], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :professional %>
    <%= f.association :scenario %>
    <%= f.association :location %>
    <%= f.input :status %>
    <%= f.input :professional_fee %>
    <%= f.input :government_fee %>
    <%= f.input :oope %>
    <%= f.input :service_tax %>
    <%= f.input :tax %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>