<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Professional Fees') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Professional Fees
  <% if can? :create, ProfessionalFee %>
    <span class="pull-right">
      <%= link_to 'New Professional fee', new_admin_professional_fee_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Professional</th>
            <th>Scenario</th>
            <th>Location</th>
            <th>Status</th>
            <th>Professional fee</th>
            <th>Government fee</th>
            <th>Oope</th>
            <th>Service tax</th>
            <th>Tax</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @professional_fees.each do |professional_fee| %>
            <tr>
              <td><%= link_to professional_fee.professional.try(:name), [:admin, professional_fee], class: 'row-link' %></td>
              <td><%= professional_fee.scenario.try(:name) %></td>
              <td><%= professional_fee.location.try(:name) %></td>
              <td><%= professional_fee.status %></td>
              <td><%= professional_fee.professional_fee %></td>
              <td><%= professional_fee.government_fee %></td>
              <td><%= professional_fee.oope %></td>
              <td><%= professional_fee.service_tax %></td>
              <td><%= professional_fee.tax %></td>
              <td>
                <% if can? :update, professional_fee %>
                  <%= link_to 'Edit', edit_admin_professional_fee_path(professional_fee) %>
                <% end %>
                <% if false and can? :destroy, professional_fee %> |
                  <%= link_to 'Destroy', [:admin, professional_fee], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>