<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Service Flow Questions') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Service Flow Questions
  <% if can? :create, ::ServiceFlow::Question %>
    <span class="pull-right">
      <%= link_to 'New Question', new_admin_service_flow_question_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Question</th>
            <th>Question type</th>
            <th>Parent</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @service_flow_questions.each do |service_flow_question| %>
            <tr>
              <td><%= link_to service_flow_question.question, [:admin, service_flow_question], class: 'row-link' %></td>
              <td><%= service_flow_question.question_type %></td>
              <td><%= service_flow_question.parent %></td>
              <td>
                <% if can? :update, service_flow_question %>
                  <%= link_to 'Edit', edit_admin_service_flow_question_path(service_flow_question) %>
                <% end %>
                <% if false and can? :destroy, service_flow_question %> |
                  <%= link_to 'Destroy', [:admin, service_flow_question], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>