<%= simple_form_for([:user, @user_process], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_token %>
    <%= f.association :professional %>
    <%= f.association :service %>
    <%= f.association :sub_service %>
    <%= f.association :scenario %>
    <%= f.input :status %>
    <%= f.input :external_link %>
    <%= f.input :started_at %>
    <%= f.input :closed_at %>
    <%= f.input :expected_duration %>
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>