<%= simple_form_for([:admin, @scenario], wrapper: :horizontal_form, html: {class: "form-horizontal"})  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions text-center">
    <%= button_tag "Save", class: "btn btn-primary" %>
  </div>
<% end %>