<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_scenarios_path, text: 'Scenarios') %>
    <%= breadcrumb_item(text: 'Scenario') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Scenario' %>
  <% if can? :update, @scenario %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_scenario_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
  <% end -%>
<% end -%>