<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_professional_services_path, text: 'Professional Services') %>
    <%= breadcrumb_item(text: 'Professional Service') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Professional Service' %>
  <% if can? :update, @professional_service %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_professional_service_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Professional</strong>
      <span class="col-md-9"><%= @professional_service.professional.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Service</strong>
      <span class="col-md-9"><%= @professional_service.service.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>