<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_counsel_questions_path, text: 'Counsel Question') %>
    <%= breadcrumb_item(text: 'Counsel Question') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Counsel Question' %>
  <% if can? :update, @counsel_question %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_counsel_question_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Question</strong>
      <span class="col-md-9"><%= @counsel_question.question %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Description</strong>
      <span class="col-md-9"><%= @counsel_question.description %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Asker</strong>
      <span class="col-md-9"><%= @counsel_question.asker.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>