<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Professional Services') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Professional Services
  <% if can? :create, ProfessionalService %>
    <span class="pull-right">
      <%= link_to 'New Professional service', new_user_professional_service_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Professional</th>
            <th>Service</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @professional_services.each do |professional_service| %>
            <tr>
              <td><%= link_to professional_service.professional.try(:name), [:user, professional_service], class: 'row-link' %></td>
              <td><%= professional_service.service.try(:name) %></td>
              <td>
                <% if can? :update, ProfessionalService %>
                  <%= link_to 'Edit', edit_user_professional_service_path(professional_service) %>
                <% end %>
                <% if false and can? :destroy, ProfessionalService %> |
                  <%= link_to 'Destroy', [:user, professional_service], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>