.select-overlay {
    background-color: rgba(0,0,0,.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
}

.dropdown.open {
  z-index: 1000; 
}

.alert, #error_explanation:not(:empty) {
  margin: 5px 0px;
}

.simple-form.form-horizontal label {
  text-align: right;
}

.breadcrumb {
  background-color: #f3f3f4;
  margin-top: 20px;
}

#toast-container.toast-top-center > div {
  width: 600px;
}

.toast-top-center {
  top: 0;
  right: auto !important;
  width: 0%;
  left: calc(50% - 300px);  
}

#toast-container.toast-top-center div.toast-message {
  text-align: center;
}

body {
  font-family: "Montserrat", "Roboto", "Open Sans", "Quicksand", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased
}

.nav > li.active > a > i {
  margin-left: -4px;
}

body.fixed-sidebar.mini-navbar .nav-header {
  padding: 0px;
}

body.fixed-sidebar.mini-navbar .navbar-static-side {
  width: 70px
}

body.fixed-sidebar.mini-navbar .navbar-static-side .nav-label{
  display: none!important;
}

body.fixed-sidebar.mini-navbar #page-wrapper {
  margin: 0 0 0 70px;
}

body.fixed-sidebar.mini-navbar .header-profile-element, body.fixed-sidebar.mini-navbar .profile-element {
  display: none!important;
}

body.fixed-sidebar.mini-navbar .header-logo-element {
  display: block!important;
}

body.mini-navbar .fixed-top-logo-holder {
  width: 70px;
}

.fixed-top-logo-holder {
  width: 220px;
}

.header-logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding:18px 0px 18px 25px;
  text-align: left;
}

.header-profile-element {
  padding:18px 0px 18px 25px;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

