<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_question_categories_path, text: 'Counsel Question Categories') %>
    <%= breadcrumb_item(link: admin_counsel_question_category_path(@counsel_question_category), text: 'Counsel Question Category') %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Counsel Question Category') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



