<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Counsel Question Categories') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Counsel Question Categories
  <% if can? :create, ::Counsel::QuestionCategory %>
    <span class="pull-right">
      <%= link_to 'New Question category', new_admin_counsel_question_category_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Question</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @counsel_question_categories.each do |counsel_question_category| %>
            <tr>
              <td><%= link_to counsel_question_category.question.try(:name), [:admin, counsel_question_category], class: 'row-link' %></td>
              <td><%= counsel_question_category.category.try(:name) %></td>
              <td>
                <% if can? :update, counsel_question_category %>
                  <%= link_to 'Edit', edit_admin_counsel_question_category_path(counsel_question_category) %>
                <% end %>
                <% if false and can? :destroy, counsel_question_category %> |
                  <%= link_to 'Destroy', [:admin, counsel_question_category], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>