<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_question_categories_path, text: 'Counsel Question Categories') %>
    <%= breadcrumb_item(text: 'Counsel Question Category') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= 'Counsel Question Category' %>
  <% if can? :update, @counsel_question_category %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admin_counsel_question_category_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Question</strong>
      <span class="col-md-9"><%= @counsel_question_category.question.try(:name) %></span>
    </p>
    <p class="row">
      <strong class="col-md-3 text-right">Category</strong>
      <span class="col-md-9"><%= @counsel_question_category.category.try(:name) %></span>
    </p>
  <% end -%>
<% end -%>