<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_professional_profile_edits_path, text: 'Professional Profile Edits') %>
    <%= breadcrumb_item(link: admin_professional_profile_edit_path(@professional_profile_edit), text: 'Professional Profile Edit') %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Professional Profile Edit') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



