<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Professional Profile Edits') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Professional Profile Edits
  <% if can? :create, ProfessionalProfileEdit %>
    <span class="pull-right">
      <%= link_to 'New Professional profile edit', new_admin_professional_profile_edit_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Professional</th>
            <th>Experience start at</th>
            <th>Company name</th>
            <th>Location</th>
            <th>About</th>
            <th>Company profile</th>
            <th>Education</th>
            <th>Experience</th>
            <th>Clients</th>
            <th>Consult rate</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @professional_profile_edits.each do |professional_profile_edit| %>
            <tr>
              <td><%= link_to professional_profile_edit.professional.try(:name), [:admin, professional_profile_edit], class: 'row-link' %></td>
              <td><%= professional_profile_edit.experience_start_at %></td>
              <td><%= professional_profile_edit.company_name %></td>
              <td><%= professional_profile_edit.location %></td>
              <td><%= professional_profile_edit.about %></td>
              <td><%= professional_profile_edit.company_profile %></td>
              <td><%= professional_profile_edit.education %></td>
              <td><%= professional_profile_edit.experience %></td>
              <td><%= professional_profile_edit.clients %></td>
              <td><%= professional_profile_edit.consult_rate %></td>
              <td>
                <% if can? :update, professional_profile_edit %>
                  <%= link_to 'Edit', edit_admin_professional_profile_edit_path(professional_profile_edit) %>
                <% end %>
                <% if false and can? :destroy, professional_profile_edit %> |
                  <%= link_to 'Destroy', [:admin, professional_profile_edit], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>