<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Counsel Categories') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Counsel Categories
  <% if can? :create, ::Counsel::Category %>
    <span class="pull-right">
      <%= link_to 'New Category', new_user_counsel_category_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @counsel_categories.each do |counsel_category| %>
            <tr>
              <td><%= link_to counsel_category.name, [:user, counsel_category], class: 'row-link' %></td>
              <td>
                <% if can? :update, ::Counsel::Category %>
                  <%= link_to 'Edit', edit_user_counsel_category_path(counsel_category) %>
                <% end %>
                <% if false and can? :destroy, ::Counsel::Category %> |
                  <%= link_to 'Destroy', [:user, counsel_category], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>