<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_counsel_categories_path, text: 'Counsel Category') %>
    <%= breadcrumb_item(text: @counsel_category.name) %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  <%= @counsel_category.name %>
  <% if can? :update, @counsel_category %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_user_counsel_category_path, class: 'btn btn-primary btn-outline' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <p class="row">
      <strong class="col-md-3 text-right">Name</strong>
      <span class="col-md-9"><%= @counsel_category.name %></span>
    </p>
  <% end -%>
<% end -%>