<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: user_professional_sub_services_path, text: 'Professional Sub Services') %>
    <%= breadcrumb_item(link: user_professional_sub_service_path(@professional_sub_service), text: 'Professional Sub Service') %>
    <%= breadcrumb_item(text: 'Edit') %>
  <% end %>
<% end %>

<%= new_page_heading('Editing Professional Sub Service') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>



