<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(text: 'Counsel Questions') %>
  <% end %>
<% end %>

<%= new_page_heading do %>
  Listing Counsel Questions
  <% if can? :create, ::Counsel::Question %>
    <span class="pull-right">
      <%= link_to 'New Question', new_admin_counsel_question_path, class: 'btn btn-primary' %>
    </span>
  <% end %>
<% end %>

<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <div class="table-responsive">
      <%= page_datatable do %>
        <thead>
          <tr>
            <th>Question</th>
            <th>Description</th>
            <th>Asker</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @counsel_questions.each do |counsel_question| %>
            <tr>
              <td><%= link_to counsel_question.question, [:admin, counsel_question], class: 'row-link' %></td>
              <td><%= counsel_question.description %></td>
              <td><%= counsel_question.asker.try(:name) %></td>
              <td>
                <% if can? :update, counsel_question %>
                  <%= link_to 'Edit', edit_admin_counsel_question_path(counsel_question) %>
                <% end %>
                <% if false and can? :destroy, counsel_question %> |
                  <%= link_to 'Destroy', [:admin, counsel_question], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
<script>  
  $('#dataTables-example').DataTable({
    pageLength: 25
  });
</script>
<% end %>