<% content_for :breadcrumb do %>
  <%= breadcrumb_bar_new do %>
    <%= breadcrumb_item(link: admin_counsel_questions_path, text: 'Counsel Questions') %>
    <%= breadcrumb_item(text: 'New') %>
  <% end %>
<% end %>

<%= new_page_heading('New Counsel Question') %>
<%= full_width_box_wrapper do %>
  <%= box_content_only do %>
    <%= render 'form' %>
  <% end %>
<% end %>


