<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash_name_mappings = {
    "notice" => "success",
    "error" => "danger",
    "alert" => "warning"
   } %>
<% flash_toastr_mappings = {
    "notice" => "success",
    "alert" => "warning"
   } %>

<% if false %>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= flash_name_mappings[name] || name  %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= content_for :javascript do %>
<script>
toastr.options = {
  "closeButton": false,
  "debug": false,
  "progressBar": true,
  "preventDuplicates": false,
  "positionClass": "toast-top-center",
  "onclick": null,
  "showDuration": "400",
  "hideDuration": "1000",
  "timeOut": "8000",
  "extendedTimeOut": "500",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    toastr['<%= flash_toastr_mappings[name] || name  %>']("<%= msg %>" <%= %Q[, "", {"timeOut":0, "closeButton": true}].html_safe if ["error", "danger"].include?(name) %>);
  <% end %>
<% end %>


</script>
<% end %>