<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs text-center">
                <strong class="font-bold">
                  <% if current_user.present? %>
                    <%= current_user.name %>
                  <% elsif current_admin_user.present? %>
                    <%= current_admin_user.name %>
                  <% else %>
                    Guest
                  <% end %>
                </strong>
              </span> 
              <span class="text-muted text-xs block text-center">Art Director</span>
            </span>
          </a>
          <% if false %>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="">Profile</a>
              </li>
              <li><a href="">Contacts</a>
              </li>
              <li><a href="">Mailbox</a>
              </li>
              <li class="divider"></li>
              <li><a href="">Logout</a>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="logo-element">
          W
        </div>
      </li>
      <% if user_signed_in? %>
        <%= render 'layouts/user_navigation_links' %>
      <% elsif admin_user_signed_in? %>
        <%= render 'layouts/admin_navigation_links' %>
      <% end %>
    </ul>
  </div>
</nav>