<div class="row border-bottom">
  <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="col-sm-6">
      <div class="">
        <div class="select-overlay" style="display: none;"></div>
        <div class="row">
          <div class="nav-header no-padding fixed-top-logo-holder pull-left"> 
            <div class="header-profile-element" style="">
              <div class="text-white"><strong class="font-bold" style="font-weight:900">Wazzeer</strong></div>
            </div>
            <div class="header-logo-element" style="font-weight:300">
              <strong class="font-bold" style="font-weight:900">W</strong>
            </div>
          </div>
          
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          
          <div class="pull-left" style="margin-left:20px">
            <%= yield :breadcrumb %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message"></span>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <li>
              <div class="dropdown-messages-box">
                <a href="#" class="pull-left">
                  <img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>" />
                </a>
                <div class="media-body">
                  <small class="pull-right">46h ago</small>
                  <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br/>
                  <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="dropdown-messages-box">
                <a href="#" class="pull-left">
                  <img alt="image" class="img-circle" src="<%= image_path('a4.jpg') %>" />
                </a>
                <div class="media-body ">
                  <small class="pull-right text-navy">5h ago</small>
                  <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br/>
                  <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="dropdown-messages-box">
                <a href="#" class="pull-left">
                  <img alt="image" class="img-circle" src="<%= image_path('profile.jpg') %>" />
                </a>
                <div class="media-body ">
                  <small class="pull-right">23h ago</small>
                  <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br/>
                  <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="text-center link-block">
                <a href="#">
                  <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                  <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-upload fa-fw"></i> Server Rebooted
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <div class="text-center link-block">
                <a href="#">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>


        <li>
          <%= link_to user_logout_path, method: :delete do %>
            <%= fa('sign-out') %> Log out
          <% end %>
        </li>

        <li>
          <a class="right-sidebar-toggle">
            <i class="fa fa-tasks"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>