<li class="">
  <a href="<%= user_dashboard_url %>"><%= fa('th-large') %> <span class="nav-label">Dashboard</span></a>
</li>
<li class="">
  <a href="<%= user_locations_path %>"><%= fa('th-large') %> <span class="nav-label">Locations</span></a>
</li>
<li class="">
  <a href="<%= user_services_path %>"><%= fa('th-large') %> <span class="nav-label">Services</span></a>
</li>
<li class="">
  <a href="<%= user_sub_services_path %>"><%= fa('th-large') %> <span class="nav-label">Sub Services</span></a>
</li>
<li class="">
  <a href="<%= user_scenarios_path %>"><%= fa('th-large') %> <span class="nav-label">Scenarios</span></a>
</li>
<li class="">
  <a href="<%= user_service_flow_questions_path %>"><%= fa('th-large') %> <span class="nav-label">Service Flow Questions</span></a>
</li>
<li class="">
  <a href="<%= user_service_flow_answer_choices_path %>"><%= fa('th-large') %> <span class="nav-label">Service Flow Answer Choices</span></a>
</li>
<li class="">
  <a href="<%= user_professionals_path %>"><%= fa('th-large') %> <span class="nav-label">Professionals</span></a>
</li>
<li class="">
  <a href="<%= user_professional_profile_edits_path %>"><%= fa('th-large') %> <span class="nav-label">Professional Profile Edits</span></a>
</li>
<li class="">
  <a href="<%= user_professional_services_path %>"><%= fa('th-large') %> <span class="nav-label">Professional Services</span></a>
</li>
<li class="">
  <a href="<%= user_professional_sub_services_path %>"><%= fa('th-large') %> <span class="nav-label">Professional Sub Services</span></a>
</li>
<li class="">
  <a href="<%= user_professional_fees_path %>"><%= fa('th-large') %> <span class="nav-label">Professional Fees</span></a>
</li>
<li class="">
  <a href="<%= user_user_processes_path %>"><%= fa('th-large') %> <span class="nav-label">User Processes</span></a>
</li>
<li class="">
  <a href="<%= user_service_flow_user_answer_choices_path %>"><%= fa('th-large') %> <span class="nav-label">Service Flow User Answer Choices</span></a>
</li>
<li class="">
  <a href="<%= user_scopes_path %>"><%= fa('th-large') %> <span class="nav-label">Scopes</span></a>
</li>
<li class="">
  <a href="<%= user_carts_path %>"><%= fa('th-large') %> <span class="nav-label">Carts</span></a>
</li>
<li class="">
  <a href="<%= user_quotes_path %>"><%= fa('th-large') %> <span class="nav-label">Quotes</span></a>
</li>
<li class="">
  <a href="<%= user_customer_payments_path %>"><%= fa('th-large') %> <span class="nav-label">Customer Payments</span></a>
</li>
<li class="">
  <a href="<%= user_payment_requests_path %>"><%= fa('th-large') %> <span class="nav-label">Payment Requests</span></a>
</li>
<li class="">
  <a href="<%= user_reviews_path %>"><%= fa('th-large') %> <span class="nav-label">Reviews</span></a>
</li>
<li class="">
  <a href="<%= user_global_settings_path %>"><%= fa('th-large') %> <span class="nav-label">Global Settings</span></a>
</li>
<li class="">
  <a href="<%= user_counsel_categories_path %>"><%= fa('th-large') %> <span class="nav-label">Counsel Categories</span></a>
</li>
<li class="">
  <a href="<%= user_counsel_questions_path %>"><%= fa('th-large') %> <span class="nav-label">Counsel Questions</span></a>
</li>
<li class="">
  <a href="<%= user_counsel_question_categories_path %>"><%= fa('th-large') %> <span class="nav-label">Counsel Question Categories</span></a>
</li>
<li class="">
  <a href="<%= user_counsel_answers_path %>"><%= fa('th-large') %> <span class="nav-label">Counsel Answers</span></a>
</li>
<li class="">
  <a href="<%= user_counsel_answer_requests_path %>"><%= fa('th-large') %> <span class="nav-label">Counsel Answer Requests</span></a>
</li>
<li class="">
  <a href="<%= user_counsel_votes_path %>"><%= fa('th-large') %> <span class="nav-label">Counsel Votes</span></a>
</li>
<%#END%>