<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wazzeer</title>

  <!-- Include style per-controller - vendor plugins -->
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>
<body class="fixed-sidebar fixed-nav">
  <% if Rails.env.development? and params[:debug] == "true" %>
    <%= console %>
  <% end %>

  <!-- Wrapper-->
  <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

      <!-- Page wrapper -->
      <%= render 'layouts/topnavbar' %>
      <%= render 'layouts/messages' %>

      <!-- Main view  -->
      <%= yield %>

      <!-- Footer -->
      <%= render 'layouts/footer' %>

    </div>
    <!-- End page wrapper-->

    <!-- Right sidebar -->
    <%= render 'layouts/rightsidebar' %>

  </div>
  <!-- End wrapper-->

  <!-- Include javascript per-controller - vendor plugins -->
  <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

  <!-- Include javascript per-view -->
  <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
  <%= yield :javascript %>

  <script>
    app.common.events.bindEvents();
  </script>

</body>
</html>
